body {
    background-color: rgb(251, 248, 194);
    color: rgb(255, 73, 95);
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: rgb(237, 226, 243);
    color: rgb(255, 73, 95);
    font-family: Arial;
    margin: 10px;
}

main {
    background-color: rgb(251, 248, 194);
    color: rgb(255, 73, 95);
    font-family: Arial;
    margin: 10px;
}

footer {
    background-color: rgb(251, 222, 194);
    color: rgb(140, 73, 255);
    font-family: Arial;
    margin: 10px;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link{
    color: rgb(0, 0, 0);
}
a:visited{
    color: rgb(70, 246, 12);
}
a:hover {
    color: rgb(236, 54, 69);
    text-decoration: underline;
    background-color: rgb(255, 241, 134);
    font-weight: bold;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}